@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">哈囉哈囉</h1>
    <p>這裡是聊天機器人ㄉ後台 我是廢物不要逼我嗚嗚嗚嗚；(</p>
=======
    <h1 class="display-4">123</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> origin/master
</div>